.users {
    padding: 30px 30px 0;
    width: 100%;
}

.user-list {
    margin: 0px 1% 0;
    flex: 0 0 58%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    background-color: #fff;
}

.AE {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    background-color: #fff;
    margin: 0px 1% 0;
    flex: 0 0 38%;
}

.AE-head {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        color: rgba(13, 27, 62, 0.7);
        font-weight: bold;
    }

    &__page {
        display: flex;

        button {
            margin-left: 12px;
            padding: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;
            background-color: #444054;
            border: none;
            border-radius: 8px;
            transition: 0.2s;

            svg {
                font-size: 18px;
            }

            &:hover {
                background-color: #2d2a37;
            }
        }
    }
}

.search {
    padding: 4px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
}

.AE-table {
    padding: 12px 20px;

    table {
        width: 100%;
        border-collapse: collapse;

        tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.03);
        }

        th {
            text-align: center;
            padding: 8px 0;
        }
        td {
            text-align: center;
            padding: 8px 0;
            button {
                color: #fff;
                background-color: #3f6ad8;
                border-color: #3f6ad8;
                padding: 0.25rem 0.5rem;
                line-height: 1.5;
                border-radius: 0.2rem;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;

    button {
        padding: 8px 20px;
        border-radius: 8px;
        border: 1px solid #fff;
        color: #fff;
        background-color: #14a7fa;
        cursor: pointer;
        transition: 0.2s;
        font-size: 16px;
        margin: 4px auto;

        &:hover {
            background-color: #fff;
            border: 1px solid #14a7fa;
            color: #14a7fa;
        }
        
    }

    input {
        padding: 4px 16px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        font-size: 16px;
    }
}

.response-msg {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
}
