@import "../../styles/lib.scss";
@import "../../styles/responsive.scss";

.table {
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 8px;

    .table-head__btn {
        padding: 6px 8px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
        margin-right: 12px;

        &--green {
            background: #06e763;
            &:hover {
                border: 1px solid #06e763;
                color: #06e763;
                background-color: #fff;
            }
        }

        &--pink {
            background: #e21873;
            &:hover {
                border: 1px solid #e21873;
                color: #e21873;
                background-color: #fff;
            }
        }

        svg {
            font-size: 20px;
        }
    }

    select {
        padding: 4px 16px;
        outline: none;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
    }

    h5 {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 20px;
    }
}

.table-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    max-height: 500px;
}

.table {
    flex: 0 0 31.3333333%;
    margin: 12px 1%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {

        width: 100%;
        height: 100px;
        border: 1px solid #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 12px;
        cursor: pointer;
    }
}

.table-name {
    font-size: 18px;
    font-weight: bold;
}

.table-foot {
    padding: 12px 20px 12px 20px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.action {
    display: flex;
    justify-content: flex-end;

    &__btn {
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        margin-left: 12px;
        border: 1px solid #fff;
        transition: 0.2s ease;
        display: flex;
        align-items: center;

        svg {
            font-size: 20px;
            margin-right: 4px;
        }

        &--blue {
            background: #14a7fa;
            color: #fff;
            &:hover {
                border: 1px solid #14a7fa;
                color: #14a7fa;
                background-color: #fff;
            }
        }

        &--red {
            background: #f30606;
            color: #fff;
            &:hover {
                border: 1px solid #f30606;
                color: #f30606;
                background-color: #fff;
            }
        }

        &--green {
            background: #06e763;
            color: #fff;
            &:hover {
                border: 1px solid #06e763;
                color: #06e763;
                background-color: #fff;
            }
        }
    }
}

.viewing {
    padding: 8px;

    h5 {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
    }

    

    &__head {
        display: flex;
        margin: 0 0 20px 0;
        button {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #06e763;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 8px;
        }
    }
}

.products-table {
    padding-left: 4px;
    overflow-y: scroll;
    max-height: 275px;
    @include customScrollBar();
    @include Responsive(xxxl) {
        max-height: 350px;
    }

    table {
        width: 100%;

        &,
        th,
        td {
            border: 1px solid #dcdcdc;
            border-collapse: collapse;
            text-align: center;
        }

        th,
        td {
            font-size: 16px;
            padding: 4px;
        }

        select {
            padding: 2px 4px;
        }

        svg {
            cursor: pointer;
            color: #f30606;
        }
    }
}
